<!-- <h3>Basic Video Player</h3>
<div class="video-container">
<vg-player>


    <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls >
        <source src="../../assets/img/Proveo HM46.mp4" type="video/mp4">
        <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt" srclang="en" default>
        <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt" srclang="es">
    </video>
</vg-player>
</div> -->
<!--
<div class="card-container">
<div *ngFor="let video of videos">
  <h2>{{ video.title }}</h2>
  <video width="320" height="240" controls>
    <source [src]="video.src" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div> -->


<!-- </div> -->


<div class="grid-row reverse video-gallery">
  <input type="radio" value="1" name="video-list" id="video-1" checked="checked" /><label for="video-1"><img src="../../assets/img/industrie.jpg" style="max-width: 80px; max-height: 80px;">  Option 1</label>
  <input type="radio" value="2" name="video-list" id="video-2" /><label for="video-2"> <img src="../../assets/img/agriculture.jpg" style="max-width: 80px; max-height: 80px;">  Option 2</label>
  <input type="radio" value="3" name="video-list" id="video-3" /><label for="video-3"> <img src="../../assets/img/4t.jpg" style="max-width: 80px; max-height: 80px;"> Option 3</label>
  <input type="radio" value="4" name="video-list" id="video-4" /><label for="video-4"> <img src="../../assets/img/DX12 50W.jpg" style="max-width: 80px; max-height: 80px;"> Option 4</label>

  <!-- videos -->
  <div class="video video-1">
   <iframe width="560" height="315" src="../../assets/img/Proveo HM46.mp4" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video video-2">
   <iframe width="560" height="315" src="../../assets/img/Proveo STOU 20W-40.mp4" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video video-3">
   <iframe width="560" height="315" src="../../assets/img/Proveo Competition 4T.mp4" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video video-4">
   <iframe width="560" height="315" src="../../assets/img/Proveo DX12 15W-40.mp4" frameborder="0" allowfullscreen></iframe>
  </div>


  <!-- videos -->
 </div>


  <!-- <h2>Proveo HM46</h2>
  <video width="320" height="240" controls>
    <source src="../../assets/img/Proveo HM46.mp4" type="video/mp4">
  </video>


  <h2>Proveo Competition 4T</h2>
  <video width="320" height="240" controls>
    <source src="../../assets/img/Proveo Competition 4T.mp4'" type="video/mp4">
  </video>


  <h2>Proveo DX12 15W-40</h2>
  <video width="320" height="240" controls>
    <source src="../../assets/img/Proveo DX12 15W-40.mp4" type="video/mp4">
  </video>


  <h2>Proveo STOU 20W-40</h2>
  <video width="320" height="240" controls>
    <source src="../../assets/img/Proveo STOU 20W-40.mp4" type="video/mp4">
  </video> -->
