

<div class="card-container">
  <!-- Page Header Start -->
  <div class="container-fluid page-headerproduct py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-white animated slideInRight">Industrie</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb animated slideInRight mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/produit">Produits</a></li>
                <li class="breadcrumb-item active" aria-current="page">Industrie</li>



            </ol>
        </nav>
    </div>
  </div>
  </div>
  <!-- Page Header End -->













<div class="blog-card">
  <div class="meta">
    <div class="photo" style="background-image: url(../../assets/img/3.jpeg)">
      <ul class="details">
        <li class="author"><a href="#"></a></li>
        <li class="date"></li>
        <li class="tags">
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="description">
    <h1>Automobile</h1>
    <h2>Proveo Lubricants</h2>
    <p> Sa large gamme présente un large éventail pour les secteurs automobiles et transport : Ses huiles moteurs quelle soient synthétiques, semi-synthétiques et minérales</p>
    <p class="read-more">
      <a routerLink="/sousindustrie">Read More</a>
    </p>

  </div>
</div>
<div class="blog-card alt">
  <div class="meta">
    <div class="photo" style="background-image: url(../../assets/img/2.jpeg)"></div>
    <ul class="details">
      <li class="author"><a></a></li>
      <li class="date"></li>
      <li class="tags">
        <ul>
          <li><a></a></li>
          <li><a></a></li>
          <li><a></a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="description">
    <h1>Marine</h1>
    <h2>Proveo Lubricants</h2>
    <p>Sa gamme marine répond aux besoins des armateurs, des constructeurs des moteurs marins et les
      équipementiers pour mettre sur ce marché des qualités de très haute performance .</p>
    <p class="read-more">
      <a href="#">Read More</a>
    </p>
  </div>
</div>


<div class="blog-card">
  <div class="meta">
    <div class="photo" style="background-image: url(../../assets/img/4.jpeg)">
      <ul class="details">
        <li class="author"><a href="#"></a></li>
        <li class="date"></li>
        <li class="tags">
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="description">
    <h1>Industrie</h1>
    <h2>ADVANCED CHEMICAL INDUSTRY</h2>
    <p>Sa gamme Proveo  Lubricants  consciente de son engagement technique pour se doter d’une gamme de lubrifiants de très haute performance spécialement destinées et  conçues pour répondre aux
      évolutions technologiques.</p>
    <p class="read-more">
      <a href="#">Read More</a>
    </p>
  </div>
</div>

<div class="blog-card alt">
  <div class="meta">
    <div class="photo" style="background-image: url(../../assets/img/5.jpeg)"></div>
    <ul class="details">
      <li class="author"><a href="#"></a></li>
      <li class="date"></li>
      <li class="tags">
        <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="description">
    <h1>Petit Moteurs</h1>
    <h2>Proveo Lubricants</h2>
    <p>Sa gamme marine répond aux besoins des armateurs, des constructeurs des moteurs marins et les
      équipementiers pour mettre sur ce marché des qualités de très haute performance .</p>
    <p class="read-more">
      <a href="#">Read More</a>
    </p>
  </div>
</div>


<div class="blog-card">
  <div class="meta">
    <div class="photo" style="background-image: url(../../assets/img/1.jpeg)">
      <ul class="details">
        <li class="author"><a href="#"></a></li>
        <li class="date"></li>
        <li class="tags">
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="description">
    <h1>Agriculture</h1>
    <h2>Proveo Lubricants</h2>
    <p> s’associe par ses recherches et ses développements aux besoins des deux roues en garantissant une excellente protection du moteur,
      une meilleure stabilité thermique et une protection anti-usure même lors des conditions sévères.</p>
    <p class="read-more">
      <a href="#">Read More</a>
    </p>
</div>
</div>




<div class="blog-card alt">
  <div class="meta">
    <div class="photo" style="background-image: url(../../assets/img/6.jpeg)"></div>
    <ul class="details">
      <li class="author"><a href="#"></a></li>
      <li class="date"></li>
      <li class="tags">
        <ul>
          <li><a></a></li>
          <li><a></a></li>
          <li><a></a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="description">
    <h1>Camionettes</h1>
    <h2>Proveo Lubricants</h2>
    <p>Sa gamme  répond aux besoins des armateurs, des constructeurs des moteurs marins et les
      équipementiers pour mettre sur ce marché des qualités de très haute performance .</p>
    <p class="read-more">
      <a href="#">Read More</a>
    </p>
  </div>
</div>









<!-- <div class="blog-card">
  <div class="meta">
    <div class="photo"><img src="../../assets/img/3.jpeg"></div>
    <ul class="details">
      <li class="author"><a href="#">John Doe</a></li>
      <li class="date">Aug. 24, 2015</li>
    </ul>
  </div>
  <div class="description">
    <h1>Automobile</h1>
    <h2>Proveo Lubricants</h2>
    <p> Sa large gamme présente un large éventail pour les secteurs automobiles et transport : Ses huiles moteurs quelle soient synthétiques, semi-synthétiques et minérales</p>
    <p class="read-more">
      <a href="#">Read More</a>
    </p>
  </div>
</div> -->
<!-- <div class="blog-card alt">
  <div class="meta">
    <div class="photo"><img src="../../assets/img/produit1.png"></div>
    <ul class="details">
      <li class="author"><a href="#">Jane Doe</a></li>
      <li class="date">July. 15, 2015</li>
      <li class="tags">
        <ul>
          <li><a href="#">Learn</a></li>
          <li><a href="#">Code</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <p class="read-more">
      <a href="#">Read More</a>
    </p>
  </div>
</div> -->
