






  <!-- Page Header Start -->
  <div class="container-fluid page-headerproduct py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-white animated slideInRight">Produits</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb animated slideInRight mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Moteur Essence</li>
            </ol>
        </nav>
    </div>
  </div>
  <!-- Page Header End -->










  <H1 id="title">Produits</H1>


  <div  class="card-container">
  <a routerLink="produitindustrie" >
    <div class="container">
      <div class="circle circle-border">
        <div class="circle circle-hover">
          <div class="circle-image" style="background-image: url('../../assets/img/rectangle_2_ek2.png');">
          </div>
        </div>
        <div class="circle-text">
              FS 5W-30

        </div>

      </div>

    </div></a>
    <a routerLink="produitindustrie" >
      <div class="container">
        <div class="circle circle-border">
          <div class="circle circle-hover">
            <div class="circle-image" style="background-image: url('../../../assets/img/rectangle_2_ek2.png'); ">
            </div>
          </div>
          <div class="circle-text">
           FS 5W-40

          </div>

        </div>

      </div></a>

      <a routerLink="produitindustrie" >
        <div class="container">
          <div class="circle circle-border">
            <div class="circle circle-hover">
              <div class="circle-image" style="background-image: url('../../../assets/img/rectangle_2_ek2.png');">
              </div>
            </div>
            <div class="circle-text">
             MS 10W-40

            </div>

          </div>

        </div></a>




  </div>



  <div  class="card-container">
    <a routerLink="produitindustrie" >
      <div class="container">
        <div class="circle circle-border">
          <div class="circle circle-hover">
            <div class="circle-image" style="background-image: url('../../../assets/img/rectangle_2_ek2.png');">
            </div>
          </div>
          <div class="circle-text">
          BS 15W-50

          </div>

        </div>

      </div></a>


    </div>






