

<!-- Topbar Start -->
 <div class="container-fluid bg-dark px-0">
 <div class="row g-0 d-none d-lg-flex">
     <div class="col-lg-6 ps-5 text-start">
         <div class="h-100 d-inline-flex align-items-center text-white">

             <a class="btn btn-link text-light" href="https://www.facebook.com/ACD.DISTRUBTION"><i class="fab fa-facebook-f"></i></a>
             <a class="btn btn-link text-light" href="https://www.linkedin.com/company/proveo-lubricants/"><i class="fab fa-linkedin-in"></i></a>
             <a class="btn btn-link text-light" href="https://www.youtube.com/@ProveoLubricants"><i class="fab fa-youtube-square"></i></a>
         </div>
     </div>
     <div class="col-lg-6 text-end">
         <div class="h-100 topbar-right d-inline-flex align-items-center text-white py-2 px-5">
             <span   class="fs-5 fw-bold me-2"><i class="fa fa-phone-alt me-2"></i>Call Us:</span>
             <span   class="fs-5 fw-bold">+216 78 449 099</span>
         </div>
     </div>
 </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-0 pe-5">
 <a href="index.html" class="navbar-brand ps-5 me-0">
  <img src="../../assets/img/Proveo bleu.png" alt="Logo" width="200" height="60">
 </a>
 <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
     <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarCollapse">
     <div class="navbar-nav ms-auto p-4 p-lg-0">
         <a  routerLink="/about" class="nav-item nav-link active">Qui Somme Nous?'</a>
         <a   routerLink="/produit" class="nav-item nav-link">Produits</a>
         <a routerLink="/industrie" class="nav-item nav-link">Industries</a>
         <div class="nav-item dropdown">
             <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Ressources</a>
             <div class="dropdown-menu bg-light m-0">
                 <a  routerLink="/video" class="dropdown-item">Videos</a>
                 <a  href="feature.html" class="dropdown-item">News</a>
                 <a  href="team.html" class="dropdown-item">Informations Techniques</a>

             </div>
         </div>
         <a  routerLink="/contact" class="nav-item nav-link">Contact</a>
         <!-- language button-->



	<!-- <div class="switch">
	    <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox">
	    <label for="language-toggle"></label>
	    <span class="on">العربية</span>
	    <span class="off">EN</span>
  	</div>
 -->
 <!-- <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
  <li class="nav-item">

      <select class="form-select" (change)="ChangeLang($event)" name="" id="">
          <option [selected]="lang==='en'" value="en">English</option>
          <option [selected]="lang==='ar'" value="ar">Arabic</option>

      </select>
  </li>
</ul> -->


<!--End language button-->
     </div>

 </div>
</nav>
<!-- Navbar End -->

