<!-- Created based on Youtube [CodingLab](https://www.youtube.com/@CodingLabYT)-->

  <!-- ---- Boxicons CSS ---- -->

<!--

<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
  class="bi bi-arrow-up"></i></a>

  <div class="wrapper">
    <div class="title-box">
      <i class="bx bx-cookie"></i>
      <h3>Cookies Consent</h3>
    </div>
    <div class="info">
      <p>
        This website use cookies to help you have a superior and more relevant
        browsing experience on the website. <a href="#"> Read more...</a>
      </p>
    </div>
    <div class="buttons">
      <button class="button" id="acceptBtn">Accept</button>
      <button class="button">Decline</button>
    </div>
  </div> -->
